<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.woofnmeow.wnm_project_back.repository.CartMapper">

    <resultMap id="CartMap" type="com.woofnmeow.wnm_project_back.entity.Cart">
        <id property="cartId" column="cart_id"/>
        <result property="userId" column="user_id"/>
        <result property="productDtlId" column="product_dtl_id"/>
        <result property="count" column="count"/>
        <association property="productDtl" resultMap="ProductDtlMap"/>
    </resultMap>

    <resultMap id="ProductDtlMap" type="com.woofnmeow.wnm_project_back.entity.ProductDtl">
        <id property="productDtlId" column="product_dtl_id" />
        <result property="productMstId" column="product_mst_id" />
        <result property="price" column="price" />
        <result property="sizeId" column="size_id" />
        <association property="productMst" resultMap="ProductMstMap"/>
        <association property="size" resultMap="SizeMap"/>
    </resultMap>

    <resultMap id="ProductMstMap" type="com.woofnmeow.wnm_project_back.entity.ProductMst">
        <id property="productMstId" column="product_mst_id"/>
        <result property="productName" column="product_name"/>
        <result property="productThumbnailUrl" column="product_thumbnail_url"/>
    </resultMap>

    <resultMap id="SizeMap" type="com.woofnmeow.wnm_project_back.entity.Size">
        <id property="sizeId" column="size_id"/>
        <result property="sizeName" column="size_name"/>
    </resultMap>

    <insert id="addCart" parameterType="arraylist">
        insert into cart_tb values
        <foreach collection="list" item="product" separator=",">
            (
                0,
                #{product.userId},
                #{product.productDtlId},
                #{product.count}
            )
        </foreach>;
    </insert>

    <select id="findCartByUserId" resultMap="CartMap">
        select
            ct.cart_id,
            ct.count,
            ct.user_id,
            pdt.product_dtl_id,
            pdt.price,
            pmt.product_name,
            pmt.product_thumbnail_url,
            st.size_name
        from
            cart_tb ct
            left outer join product_dtl_tb pdt on(pdt.product_dtl_id = ct.product_dtl_id)
            left outer join product_mst_tb pmt on(pmt.product_mst_id = pdt.product_mst_id)
            left outer join size_tb st on(st.size_id = pdt.size_id)
        where
            ct.user_id = #{user_id}
    </select>

    <select id="getProductCount" resultType="java.lang.Integer">
        select
            count(*)
        from
            cart_tb
        where
            product_dtl_id = #{productDtlId}
            and user_id = #{userId}
    </select>

    <delete id="deleteCartProduct">
        delete
        from
            cart_tb
        where
            cart_id = #{cartId}
    </delete>

    <delete id="deleteOrderCart">
        delete
        from
            cart_tb
        where
            user_id = #{userId}
        and (
        <foreach collection="products" item="product" open="(" close=")" separator="or">
            product_id = #{product.productId}
            and size = #{product.size}
        </foreach>
        )
    </delete>

</mapper >
