<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.woofnmeow.wnm_project_back.repository.ProductMapper">

    <resultMap id="productMap" type="com.woofnmeow.wnm_project_back.entity.Product" >
        <id property="productId" column="product_id"/>
        <result property="productName" column="product_name"/>
        <result property="productStock" column="product_stock"/>
        <result property="productPrice" column="product_price"/>
        <result property="productDetailText" column="product_detail_text"/>
        <result property="productThumbnail" column="product_thumbnail"/>
        <result property="productDetailImg" column="product_detail_img"/>
        <result property="categoryId" column="category_id"/>
        <!-- 추후 join 시 사용  <result property="category_name" column="categoryName"/>    -->
        <result column="productSizeXS" property="product_size_XS" />
        <result column="productSizeS" property="product_size_S" />
        <result column="productSizeM" property="product_size_M" />
        <result column="productSizeL" property="product_size_L" />
        <result column="productSizeXL" property="product_size_XL" />
        <result column="productSizeXXL" property="product_size_XXL" />
    </resultMap>

    <insert id="addProduct" parameterType="com.woofnmeow.wnm_project_back.entity.Product">
        insert into
            product_tb
        values(0, #{productName}, #{productStock}, #{productPrice}, #{productDetailText}, #{productThumbnail}, #{productDetailImg}, #{categoryId}, #{productSizeXS}, #{productSizeS}, #{productSizeM}, #{productSizeL}, #{productSizeXL}, #{productSizeXXL})
    </insert>

    <select id="getProductByProductId" resultMap="productMap">
        select
            product_id,
            product_name,
            product_stock,
            product_price,
            product_detail_text,
            product_thumbnail,
            product_detail_img,
            category_id,
            <!--   추후 join 시 사용 ct.category_name,    -->
            product_size_XS,
            product_size_S,
            product_size_M,
            product_size_L,
            product_size_XL,
            product_size_XXL
        from
            product_tb
            <!--  추후 join 시 사용  left outer join category_tb ct on (ct.category_id = pt.categoryid)    -->
        where
            product_id = #{productId};
    </select>
</mapper>