<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.woofnmeow.wnm_project_back.repository.ReviewMapper">

    <!--  resultMap  -->

    <resultMap id="reviewMap" type="com.woofnmeow.wnm_project_back.entity.Review">
        <id property="" column=""/>
        <result property="reviewContent" column="" />
        <result property="reviewImgUrl" column="" />
        <result property="reviewDate" column="" />
    </resultMap>

    <resultMap id="orderMap" type="com.woofnmeow.wnm_project_back.entity.Order" >
        <id property="" column=""/>
        <result property="" column="" />
    </resultMap>

    <resultMap id="userMap" type="com.woofnmeow.wnm_project_back.entity.User" >
        <id property="" column=""/>
        <result property="" column="" />
    </resultMap>

    <resultMap id="productDtlMap" type="com.woofnmeow.wnm_project_back.entity.ProductDtl" >
        <id property="" column=""/>
        <result property="" column="" />
    </resultMap>

    <resultMap id="productMstMap" type="com.woofnmeow.wnm_project_back.entity.ProductMst" >
        <id property="" column=""/>
        <result property="" column="" />
    </resultMap>



    <!--  resultMap  -->




    <!--  insert  -->

    <insert id="addReview" parameterType="com.woofnmeow.wnm_project_back.entity.Review">
        insert into
            review_tb
        values(0, #{userId}, #{productMstId}, #{productDtlId}, #{reviewContent}, #{reviewImgUrl}, now())
    </insert>

    <!--  insert  -->





    <!--  select  -->

    <select id="selectReviewsByProductMstId" resultMap="reviewMapForProductMstId">
        select
            ut.profile_url,
            ut.nickname,
            rt.product_dtl_id,
            rt.review_content,
            rt.review_img_url,
            rt.review_date
        from
            review_tb rt
            left outer join user_tb ut on(ut.user_id = rt.user_id)
        where
            rt.product_mst_id = #{productMstId}
    </select>

    <select id="selectReviewsByUserId" resultMap="reviewMapForUserId">
        select
            rt.product_mst_id,
            rt.product_dtl_id,
            rt.review_content,
            rt.review_img_url,
            rt.review_date
        from
            review_tb rt
        where
            rt.user_id = #{userId}
    </select>

    <!--  select  -->





    <!--  update  -->


    <update id="editReview"  parameterType="com.woofnmeow.wnm_project_back.entity.Review">
        update
            review_tb
        set
            review_content = #{reviewContent},
            review_img_url = #{reviewImgUrl},
            review_date = now()
        where
            review_id = #{reviewId}
    </update>


    <!--  update  -->







    <!--  delete  -->

    <delete id="deleteReview">
        delete from
            review_tb
        where
            review_id = #{reviewId}
    </delete>

    <!--  delete  -->



</mapper>
